# Python
__pycache__/
*.py[cod]
*.pyo

# Entorno virtual
backend/.venv/
.venv/

# Variables de entorno
.env
.env.*
!.env.example

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Node
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# PostgreSQL / Docker
postgres_data/